.App {
  text-align: center;
}

.floating-img {
  animation: img-float infinite 3s ease-in-out;
}

@keyframes img-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
