body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: skew(-0.05deg);

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 39rem;
  min-height: 84.4rem;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
  width: 100%;
}
